/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(227, 220, 211);
}

/* Contenedor del formulario */
.registro-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Título */
.registro-container h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Etiquetas */
.registro-container label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
    color: #2c3e50;
}

/* Campos de entrada */
.registro-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */
.registro-container button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.registro-container button:hover {
    background-color: #2ecc71;
}

/* Enlace de login */
.registro-container p {
    margin-top: 15px;
}

.registro-container a {
    color: #27ae60;
    text-decoration: none;
}

.registro-container a:hover {
    text-decoration: underline;
}
